<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyTodoList.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0089CC441C643FC100F6B465</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0089CC581C643FC200F6B465</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0089CC631C643FC200F6B465</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
